html {
    font-family: sans-serif;
}

h1 {text-align: center}

canvas {
    border: 1px solid rgb(204, 204, 204);
    margin: 20px auto 0px;
    display:block;
}

#score {
	text-align: center;
	position: absolute;
	left: 5px;
	top: 5px;
	/* margin: 10px; */
}

#game-wrapper {
    position: relative;
    width: 900px;
    margin: 0 auto;
}

#lives {
    position: absolute;
    left: 170px; 
    top: 5px;
}
#level {
    position: absolute;
    left: 90px; 
    top: 5px;
}
#start-game {
    position: absolute;
}